# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.sqlite3
db.sqlite3

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Logs
*.log

node_modules/
.me
