{% extends 'base.html' %}
{% block content %}
<h2>Institutes</h2>
<p><a role="button" href="{% url 'institutes:create' %}">+ New Institute</a></p>
<table>
  <thead>
    <tr>
      <th>ID</th><th>Code</th><th>Name</th><th>Admission</th><th>eSuvidha</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for i in institutes %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.code }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.get_admission_status_display }}</td>
      <td>{{ i.get_esuvidha_status_display }}</td>
      <td>
        <a href="{% url 'institutes:edit' i.pk %}">Edit</a>
        <a href="{% url 'institutes:delete' i.pk %}">Delete</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="6">No institutes yet.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
